
.header_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:40px;

    border-bottom: 0.5px solid grey;
    border-radius: 10px;
  
 

}
.header_title{
    margin: 0px;
      color: #1976d2;
}
.rate_container{
    display: flex;
    align-items: center;
}
.rate_text{
    margin: 0px;
    font-weight: 500;
}
.rate_value{
        border: 1px solid #1976d2;;
        padding: 4px 7px;
        border-radius: 15px;

    margin-left: 20px;
}